* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

.container {
  background: #fff;
  padding: 20px;
  font-family: monospace;
  max-width: 500px;
  width: 90%;
  margin: 10% auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.container h2 {
  text-transform: uppercase;
  line-height: 27px;
  font-size: 22px;
}

.text {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 0.9em;
}

.commentbox {
  display: flex;
  padding: 10px;
}

.commentbox > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.content {
  width: 100%;
}

.content > h3 {
  font-size: 20px;
  font-weight: 500;
}

.content .user {
  border: none;
  outline: none;
  color: #808080;
  padding: 10px 5px;
}

.commentinput > input {
  border: none;
  outline: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons > button {
  padding: 7px 15px;
  color: #808080;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.buttons > button.abled {
  background: blue;
  color: #fff;
}

.policy {
  margin: 20px 0;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  color: #808080;
}

.policy a {
  text-decoration: none;
  color: blue;
}

.notify {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.notify > input {
  margin-right: 5px;
  border: 2px solid #808080;
}

/* Inserted comment parents */

.parents {
  font-family: Arial, sans-serif;
  display: flex;
  margin-bottom: 30px;
  padding-left: 20px;
}

.parents h4 {
  font-size: 0.9em;
}

.parents p {
  margin: 10px 0;
  font-size: 0.8em;
}

.parents > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}

.engagements {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.engagements img {
  width: 17px;
  cursor: pointer;
}

.date {
  color: #808080;
  font-size: 0.8em;
}
